
/* login css */
.signup {
    border-radius: 20px;
    margin-top: 90px;
    margin-left: 450px;
    width: 500px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    opacity: 0.9;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}

h4 {
    margin-left: 20px;
}

label {
    color: blue;
    font-weight: 600;
}
#help{
    width: 300px;
    margin-left: 100px;
}
#reset{
    width: 300px;
    margin-left: 100px;
}

body{
    background-color: rgb(12, 248, 197);
}

.log{
    margin-left: 450px;
    width: 500px;
}
